@import url(./normalize.css);
@import url(./reset.css);
@import url(./fontello.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 숨김 콘텐츠 */
.sr-only,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path:polygon(0 0, 0 0, 0 0);
}

/* 기본 스타일 */
html {
  font-size: 10px;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size:1.4rem;
  color:#121212;
  background: #ccc
    linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
}

a{
  color:inherit;
  text-decoration:none;
}

/* layout */
.header, .visual, .main, .slogan, .footer-inner{
  width:940px;
  margin:0 auto;
}

/* header 영역 */
.header{
  background:#fff;
  padding:8px 28px 0;
  border-radius:0 0 15px 15px;
  position:relative;
  height:138px;
}

.logo{
  position:absolute;
  top:45px;
  left:45px;
  z-index:99;
}

.member{
  display:flex;
  flex-flow:row nowrap;
  justify-content:flex-end;
  align-items:flex-start;
}

.member li{
  display:inherit;
}

.member li a{
  padding:8px;
}

.member li:last-child a{
  padding-right:0;
}

.divider{
  padding-top:8px;
  margin:0 4px;
}

/* 메인 메뉴 */
.navigation{
  margin-bottom:40px;
}

.menu {
  border-radius:0 0 5px 5px;
  border-top: 2px solid currentColor;
  background: #e85e2c
    linear-gradient(
      to bottom,
      #1e5799 0%,
      #ef9126 0%,
      #e85e2c 35%,
      #e85e2c 70%,
      #ef9126 100%
    );
  height:47px;
  padding-left:200px;
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
}

.menu-item{
  position:relative;
  border-left: 2px solid #fff;
}

.menu-button{
  border:0;
  background:transparent;
  padding:0 22px;
  line-height:45px;
  font-size:15px;
  font-weight:700;
  color:#fff;
  text-shadow:1px 1px 0 #000, -1px -1px 0 #000;
}

.is-active .menu-button{
  color:#ff0;
}

.is-active .menu-button::after{
  content:"";
  display:block;
  border-top:2px solid #000;
}

.sub-menu{
  position:absolute;
  top:47px;
  display:none;
}

.sub-menu a{
  display:inline-block;
  padding:9px 0;
}

.sub-menu a:hover, .sub-menu a:focus{
  color:#f00;
}

.menu-html, .menu-css, .menu-standards{
  left:0;
}

.menu-accessibility, .menu-qna, .menu-archive{
  right:0;
}

.is-active .sub-menu{
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  gap:1em;
  white-space:nowrap;
}

/* visual 영역 */
.visual{
  background: orange;
}

/* main 영역 */
.main{
  background: lightgreen;
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  align-items:flex-start;
  padding:28px 16px;
}

.group1{
  background:red;
  width:250px;
}

.group2{
  background:violet;
  width:310px;
}

.group3{
  background:aqua;
  width:190px;
}

/* slogan 영역 */
.slogan{
  background: skyblue;
}

/* footer 영역 */
.footer{
  background: #ccc
    linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
}

.footer-inner{
  background:silver;
}